html {
  background-color: #141414;
  color: white;
}
body {
  background-image: radial-gradient(#111212 40%, #161616 , black);
  height: 100%;
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
  color: white;
  margin: 7px 5px;
  padding: 5px 5px !important;
}
input {
  margin: 5px;
  padding: 5px;
}
h6 {
  margin: 0 auto;
}
h4 {
  margin: 0px 0px;
}
::placeholder {
  color: white
}
ul {
  display: inline-block;
  padding: 0;
  cursor: pointer;
}
li {
  list-style-type: none;
}
.container {
  margin-top: 2.5em;
  padding-top: 2.5rem;
  margin: 0px 25px;
}
.form-buttons {
  margin-top: 1rem;
}

/* navbar */
.nav-wrapper {
  background-color: #E50914;
  font-size: 0.8em;
}
.nav-wrapper > ul > li > a {
  transition: 0.3s all;
}
.nav-wrapper > ul > li > a:hover {
  color: #141414;
}
.nav-left-items {
  float: right;
}
.nav-left-items > li {
  display: inline-block;
}

/* login */
.form-login {
  /*margin-top: 2.5rem;*/
  text-align: center;
  margin-bottom: 2em;
}
#form-email, #form-password {
  width: 15rem;
  border: 0px solid grey;
  padding: 10px;
  outline: none;
  box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
}
input#form-submit-login {
  padding: 7px 10px !important;
  font-size: 1rem;
}
input#form-submit-login:hover {
  transform: scale(1.1);
}
#brand-msg {
  font-size: 3rem;
  padding: 3rem 1rem 0.9rem;
  text-align: center;
}

/* register */
input#form-submit-register {
}
.register-brand {
  /*margin-top: 2em;*/
}
.btn-register {
  padding: 12px !important;
  width: 8rem;
  margin: 0px auto !important;
}
.btn-register:hover {
  transform: scale(1.1);
}

/* products */
.title-slider {
  font-size: 1.3rem;
  font-weight: lighter;
  margin-left: 1.5rem;
  margin-top: 1rem;
  cursor: default;
}
.card {
  background-color: rgb(15, 15, 15);
  box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
  margin: 5px;
  padding: 2px;
}

/* Buttons */
.btn {
  color: #fff;
  background-color: #bd0009;
  box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.75);
  border: 0px;
  margin-right: 0.5em;
  padding: 0.5em 1.5em;
  cursor: pointer;
  transition: 0.6s all;
  text-align: center;
}
.btn:checked,
.btn:active,
.btn:visited,
.btn:link {
  background-color: #bd0009;
}
.btn:hover {
  background-color: #E50914;
}

/* fade out the placeholder */
input::-webkit-input-placeholder { -webkit-transition:.5s;}
input:-moz-input-placeholder { -moz-transition:.5s;}
input::-moz-input-placeholder { -moz-transition:.5s;}
input:-ms-input-placeholder { -ms-transition:.5s;}
input:focus::-webkit-input-placeholder { color:transparent;}
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */
/* Input focus colour */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  box-shadow: 0 0 0 30px rgb(0,0,0,0.8) inset !important;
  -webkit-box-shadow: 0 0 0 30px rgb(0,0,0,0.8) inset !important;
  -webkit-text-fill-color: white !important;
}
input:focus {
  border-bottom: 1px solid #bd0009 !important;
  box-shadow: 0 1px 0 0 #bd0009 !important;
  background-color: transparent;
}
.input-field [type=text] {
  background-color: black;
  color:white !important;
}

